body {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/cream-dust.png");
  /* background-image: url("https://www.transparenttextures.com/patterns/blizzard.png"); */
  /* background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png"); */
}

.App {
  /* background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png"); */
  /* background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png"); */
/* This is mostly intended for prototyping; please download the
 pattern and re-host for production environments. Thank you! */
  /* min-height: 100vh; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

/*

*/

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 1vh;
  margin-bottom: 2vh;
  border-bottom: 2px solid black;
  width: 90%;
  /* max-height: 20vh; */
  /* max-height: 20vh; */
  /* align-items: center; */
}

.Buildup {
  color: #000000;
  font-size: min(4vw, 60px);
}

.Punch {
  color: #000000;
  font-size: min(5vw, 72px);
  font-weight: bolder;
}

.content-block {
  display:flex;
  flex-wrap: wrap;
  /* margin: 0 1%; */

  /* flex-flow: row; */
  justify-content: space-evenly;
  align-items:flex-start;
  align-content: stretch;
}



/*
====================
====================
     Input Block
====================
*/

.input-block {
 /* float: left; */
 /* margin-left: 50px; */
 margin-top: 14px;
 justify-items: flex-start;
 /* align-items: center; */
 text-align: center;
}

.input-box {
  border: 2px solid black;
  border-radius: 4px;

  /* background-color: #eef0f7; */

  min-width: 320px;
  width: auto;
  padding: 1vh;
  margin: 1vh;

  display:flex;
  flex-flow: column nowrap;
}

.fire-input {
  /* padding: 100px; */
  /* border-collapse:separate;  */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 16px;
  /* border-spacing: 100px 100px; */
}

.input-label{
  /* display: flex; */
  /* flex-flow: column nowrap; */
  color: #242D4C;
  font-size: larger;
  font-weight: bolder;
  text-align: right;
}

.number-input{
  border: 2px solid #242D4C;
  /* background-color: #eef0f7 ; */
  border-radius: 10px;
  
  /* size:3; */

  padding: 5px;
  font-size: large;
  outline: none;
}

.number-input:focus {
  border: 2px solid #E67300;
  /* background-color: #e7d6c0; */
  /* border-radius: 12px; */
}

.inline-button-text {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
  border-bottom: 1px solid #b8b8b8;
}

.expand-button {
  color: black;
  font-family: Arial;
  font-size: 20px;
  font-weight: 300;

  /* background-color: #b8b8b8; */
  border: solid black 2px;
  border-radius: 8px;

  outline:none;

  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;

  /* padding: 8px; */
  margin-right: 10px;
  line-height: 20px;
  width: 30px;
  height: 30px;
}




.submit-button {
  color: black;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 100;
  text-align: center;

  padding: 4px 8px;
  width: 60%;
  margin: 0 1vh;

  border-radius: 8px;
  border: solid black 2px;

  background-color: white;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  outline: none;
}

.submit-button:hover {
  background: #eeeeee;
  border: solid black 2px;
  border-radius: 8px;
  text-decoration: none;
}


/*
====================
====================
     Output Block
====================
*/
.output-block {
  /* width: 100%; */
  display:flex;
  flex-flow: column wrap;
  /* justify-content: center; */

  flex-grow: 4;
}

.retirement-header {
  vertical-align: top;
  /* display:flex; */
  /* flex-wrap: wrap; */
}

.visualization {
  /* text-align: center; */
  display:flex;
  justify-content: center;
  /* align-items: center; */
  /* flex-grow: 5; */
  /* flex-basis: 80%; */
}

.Form-Container {
  text-align: right;
}





